@font-face {
	font-family: 'Pretendard';
	src: url('/resources/Pretendard-Regular.ttf');
}

@font-face {
	font-family: 'HeadingFont';
	src: url('/resources/Pretendard-Bold.ttf');
}

@font-face {
	font-family: 'PyeongChang';
	src: url('/resources/PyeongChangPeace-Bold.ttf');
}

.root {
	-fx-font-family: 'Pretendard', 'Noto Sans KR', 'sans-serif';
	-fx-background-color: #ffffff;
}

.label {
	-fx-font-size: 16px;
	-fx-font-fill: #222;
}

.text {
	-fx-font-family: 'Pretendard', 'Noto Sans KR', 'sans-serif';
	-fx-font-size: 12px;
	-fx-text-fill: #222;
}

.label.heading {
	-fx-font-size: 24px;
	-fx-font-fill: #0078d7;
	-fx-font-family: 'Pretendard';
	-fx-font-weight: bold;
}

.button {
	-fx-background-color: #cfeaff;
	-fx-text-fill: black;
	-fx-background-radius: 6;
	-fx-padding: 6 12
}

.button.logo {
	-fx-background-color: white !important;
	-fx-border-color: transparent;
	-fx-font-family: 'PyeongChang', sans-serif;
	-fx-text-fill: #0582ff;
	-fx-font-size: 32px;
	-fx-pref-width: 140px;
	-fx-pref-height: 52px;
	-fx-padding: 0;
}

.logo-title {
	-fx-font-family: 'PyeongChang';
	-fx-font-size: 48px;
	-fx-text-fill: #0582ff;
}

.text-field, .password-field {
	-fx-background-radius: 4;
	-fx-border-radius: 4;
	-fx-padding: 4;
}

.tab-pane {
	-fx-font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
	-fx-background-color: #ffffff;
}

.tab {
	-fx-font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
	-fx-font-size: 14px;
}

.tab-label {
	-fx-text-fill: #0078d7;
	-fx-font-weight: bold;
}